<!DOCTYPE html>
<html>
<head>
  <style>
    body {background-color: Ivory;}
    h1 {background-color:Aquamarine;Border:2px solid Indigo;color:Indigo;}
    h2 {color:red;}
  </style>
  </head>
</html>
